<html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<head>
        <title>WebSocket Client</title>
        <link href="Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container" ng-app="mainModule" ng-controller="homeCtrl">
            <div class="row" style="margin-top: 3em;">
                <div class="row" ng-show="showMessageChat">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked" ng-repeat="person in listPeople">
                            <li ng-click="sendToPerson(person)" ng-class="active: person.socketId == to.receiver"><a href="javascript:void(0)">{{person.name}}</a></li>
                        </ul>
                    </div>
                    <div class='col-md-10'>
                        <h3>{{to.name}}</h3>
                        <hr />
                        <span id='output' style="display: inline-block; height: 80%; word-wrap: break-word;" ng-bind-html-unsafe="messages"></span>
                    </div>
                </div>
                <div class="row" ng-show="showMessageChat">
                    <form name="chatForm">
                        <div class='col-md-8 col-md-offset-2'>
                            <input type='text' id='yourMessage' ng-enter="sendMessage()" class="form-control" ng-model="yourMessage" />
                        </div>
                        <div class='col-md-2'>                    
                            <input type='button' class="btn btn-primary" value='Gửi' ng-click="sendMessage()" />
                        </div>
                    </form>
                </div>
                <div class="row" ng-show="!showMessageChat">
                    <div class='col-md-4 col-md-offset-2'>
                        <input type='text' class="form-control" ng-model="yourName" />
                    </div>
                    <div class='col-md-2'>                    
                        <input type='button' class="btn btn-primary" value='Connect' ng-click="sendYourName()" />
                    </div>
                </div>
            </div>            
        </div>        
        <script src="Scripts/jquery-2.0.3.js"></script>
        <script src="Scripts/angular.min.js"></script>
        <script src="Content/bootstrap/js/bootstrap.min.js"></script> 
        <script src="http://localhost:1001/socket.io/socket.io.js"></script>
		<script type="text/javascript">
            var mainModule = angular.module('mainModule', []);
            mainModule.directive('ngEnter', function () {
                return function (scope, element, attrs) {
                    element.bind("keydown keypress", function (event) {
                        if(event.which === 13) {
                            scope.$apply(function (){
                                scope.$eval(attrs.ngEnter);
                            });

                            event.preventDefault();
                        }
                    });
                };
            });
            mainModule.controller('homeCtrl', ["$scope", function($scope){
                $scope.messages = '';
                $scope.listPeople = [];
                $scope.friendChat = {
                    isInRoom: false

                };
                $scope.to = {};
                $scope.showMessageChat = false;
                var socket = io.connect('localhost', {port: 1001});
         
                socket.on("connect",function(){                    
                    console.log("Connected to the server");
                });
                socket.on('message',function(data) {
                    $scope.$apply(function(){
                        $scope.messages =  $scope.messages  + '<br />' + data;
                        console.log(data);
                    });                    
                });
                socket.on('error', function (data) {
                    console.log("error:",data);
                   }
                );

                socket.on('notifyWhoOnline', function(data){                    
                    //data = JSON.parse(data);
                    $scope.$apply(function(){
                        $scope.listPeople.length = 0;
                        var id = socket.socket.sessionid;
                        for(var i = 0; i < data.socketList.length; i++){
                            if(data.socketList[i].socketId != id){
                                $scope.listPeople.push(data.socketList[i]);
                            }
                        }
                        //$scope.listPeople = data.socketList;
                        debugger;
                    });
                });
                $scope.sendMessage = function(){                    
                    //socket.send($scope.yourMessage);
                    //socket.send(serializeMessage($scope.yourMessage));
                    socket.emit('message', serializeMessage($scope.yourMessage));
                    $scope.yourMessage = "";
                }
                $scope.sendYourName = function(){
                    socket.emit('getClientName', $scope.yourName);
                    $scope.showMessageChat = true;
                };

                $scope.sendToPerson = function(person){
                    $scope.to = {
                        to: "person",
                        name: person.name,
                        receiver: person.socketId                        
                    };                    
                }

                function serializeMessage(message){
                    //return {"to": $scope.to.to, "receiver": $scope.to.receiver, "message": message};
                    return JSON.stringify({"to": $scope.to.to, "receiver": $scope.to.receiver, "message": message});
                }                            
            }]);
    </script>
    </body>
</html>